/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* building the checkboxes */

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  background: white;
  z-index: 10000;
}

.boundary-picker {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* making it more mobile-friendly */

@media (max-device-width: 500px) {
  body {
    font-size: 8px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    background: white;
    z-index: 10000;
  }
}